/**/

h1{
    text-align: center;
    font-family: 'Motlleg Fantasy', sans-serif;
    letter-spacing: 3.5px;
}

.title-sep {
    
}

.script {
    font-size: 18px;
    font-family: 'Motlleg Fantasy', sans-serif;
}

p.script {
    margin-left: %;
}

.story {
    height: 600px;
    width: 60%;
    border: 2px solid black ;

}

/*Choices for story*/

.choice {
    font-size: 24px;
    font-family: 'Jacques Francois Shadow', 'Motlleg Fantasy', sans-serif;
}

/*will be used to selectively style certain choices*/
#choice1 {
    
}

#choice2 {

}

a:link {
    color: rgb(44, 174, 214);
}

/*End of choice styling*/

/*Font styles*/

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet"> */
